.change-password-form,
.cp-input-section,
.cp-submit-section {
  display: flex;
  flex-direction: column;
}

.change-password-form {
  gap: 10px;
}

.cp-input-section {
  gap: 0.5em;
  font-size: small;
  font-weight: 500;
}

.cp-input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 25%);
}

.cp-submit-section {
  gap: 0.2em;
}

.cp-error-message {
  font-size: smaller;
  color: red;
}

.cp-submit-button {
  width: max-content;
  border-radius: 5px;
  padding: 0.5em 1em;
  transition: background-color 100ms ease-in-out;
}

.cp-submit-button:hover,
.cp-submit-button:focus {
  background-color: var(--primary-hover-color);
}